.game-screen{
    border: solid 1px black;
    color: white;
    background-color: aliceblue;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}